.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 50px;
  position: relative;
  margin: 0 auto;
}

.about {
  width: 50%; /* same as logo size */
  height: 50%; /* same as logo size */
  padding: 0; 
  margin-top: 3em;
  border-radius: 50%;
  background-color: #c57d32;
  border: 15px solid #e6b64a;
  box-shadow: 
  0 0 0 10px #8e4922,
  0 0 0 20px #b76e29,
  0 0 0 38px #e6b64a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #542e21;
  font-weight: 500;
  cursor: pointer;
}

.peter {
  width: 25%;
  height: 30%;
  border-radius: 20%;
  margin-top: 10px;
}
.back-button {
  position: absolute;
  margin-right: 50px;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
