.about-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me {
  width: 600px;
  height: fit-content;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.about {
  width: 100%;
  height: fit-content;
  padding: 15px;
  border-radius: 50%;
  margin: 2em 0 ;
  background-color: #c57d32;
  border: 10px solid #8e4922;
  box-shadow: 
    0 0 0 12px #7d422d,
    0 0 0 27px #e6b64a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #542e21;
  font-weight: 500;
  cursor: pointer;
  overflow: auto;

  p {
    line-height: 1.2;
    padding: 5px; 
    
  }
}

.text-div {
  margin-bottom: 20px;
}

.peter {
  width: 25%;
  height: auto;
  border-radius: 20%;
  margin: 1px 0 15px 0;
}

.back-button {
  // position:static;
  width: 85px;
  height: 65px;
  border: none;
  background-color: inherit;
  color: #334459;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}