.swim-comp {
  margin: 5em 0 2em 0;
  width: 40%;
  height: auto;
  align-self: center;
  object-fit: cover;
}


.nav {
  display: flex;
  margin-top: 50px;
  font-size: 25px;
}

button.nav-link {
  height: 60px;
  color: black;
}
