.swim-comp {
  margin: 5em 0 2em 0;
  width: 40%;
  height: auto;
  align-self: center;
  object-fit: cover;
}


.nav {
  display: flex;
  margin-top: 50px;
  font-size: 25px;
}

button.nav-link {
  height: 60px;
  color: black;
}

div.chakra-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  }


img.card-pic {
  width: 100%;
    height: 400px;
}

p.chakra-text {
  padding: 1em;
  margin: 0;
}



.medals, .szazhalombatta-pic, .slovenia-pic, .gyula-pic, .torokbalint-pic, .trophy-pic, .diplom-pic, .EB-pic {
  width: 450px;
  height: 350px;
}

