.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: -1px 0;
  margin-top: auto;
  height: auto;
  
}


.contact {
  background-color: #334459;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 10px 20px;
  color: #dabc76;
  font-weight: 400;
  padding-left: 5em; 
  margin: -1px 0;
}

.location-div, .phone-div, .email-div, .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: center;
  padding: 1em;
  margin: 1.5em 0;
  
}

.phone-nr, .email-p {
  font-size: 17px;
  margin: 0;
  padding: 0 10px; 
}

.phone{
  width: 40px;
  height: 40px;
}

.location-p {
  padding: 0 12px;
  margin-top: 1em;
  font-size: 17px;
}


.email {
  width: 35px;
  height: 35px; 
}

.insta {
  width: 35px;
  height: 33.1px; 
  
}

.location {
  width: 37px;
  height: 37px;
}

.youtubeIcon {
  width: 40px;
  height: 50px;
}


.youtubeIcon, .insta {
  margin: 0 5px;
  cursor: pointer;
}

.youtubeIcon:hover, .insta:hover {
  transform: scale(1.1); 
  cursor: pointer;
}


.footer-div {
  display: flex;
  justify-content: flex-end;
  background: #3b4e66;
  color: #60a6f0;
  font-weight: 200;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.footer-p2 {
  padding: 20px;
  margin: 0;
  margin-right: 4em;
  font-size: 15px;
  font-weight: 300;
}

.adrienn {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.adrienn:hover {
  color: #107bee;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .contact {
    padding: 5px 10px;
    padding-left: 20px;
  }

  .location-div, .phone-div, .email-div {
    padding: 10px;
    margin: 1em 0;
  }
  .socials {
    margin: 1em 0;
    padding: 0;
  }
  .phone-nr, .email-p, .location-p {
    font-size: 15px;
  }
}

@media (max-width: 999px) {
  .phone, .youtubeIcon, .location{
    width: 35px;
  }
  .email, .insta{
    width: 30px;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 10px;
  }
  .phone-nr, .email-p, .location-p, .footer-p2 {
    font-size: 13px;
  }

  .location-div, .phone-div, .email-div, .socials {
    padding: 5px;
    margin: 0;
  }

  .email{
    width: 25px;
  }
  .phone, .location {
    width: 30px;
  }
  .insta, .youtubeIcon{
    margin: 0 10px 0 0;
    
  }
  .footer-p2{
    margin-right: 1em;
    font-size: 13px;
  } 
}

@media (max-width: 540px) {
  .contact {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 8px;
    justify-items: center; 
  }

  .location-div{
    padding-left: 10px;
  }
}