.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: auto;
}

.footer-p {
  text-align: center;
  margin: 0.5em;
}

.phone-nr, .email-p {
  font-size: 17px;
  margin: 0 auto;
  padding: 0 19px; 
}

.contact {
  background-color: #334459;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  color: #dabc76;
  font-weight: 400;
}

.location-div, .phone-div, .email-div, .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin: 1.5em 1em;
  
}

.phone{
  width: 40px;
  height: 40px;
}

.location-p {
  padding: 1em;
}

.phone-nr, .email-p {
  margin-left: 1px;
}

.email, .insta, .location  {
  width: 35px;
  height: 35px;
  
}

.youtube {
  width: 40px;
  height: 50px;
}


.youtube, .insta {
  margin: 0 5px;
  cursor: pointer;
}


.footer-div {
  display: flex;
  justify-content: flex-end;
  background: #3b4e66;
  color: #60a6f0;
  font-weight: 200;
}

.footer-p2 {
  padding: 20px;
  margin: 0;
  margin-right: 4em;
  font-size: 15px;
  font-weight: 300;
}

.adrienn {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.adrienn:hover {
  color: #dabc76;
}
