.star-container {
  position: relative;
  margin: 0 auto;
}

.logo {
  width: 50%;
  height: 50%;
  padding: 0;
}


.video-icon, .photo-icon, .awards-logo, .schedule-logo, .comments-logo{
  width: 55px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  color: rgba(231,182,77,255);
  
}

.photo-div, .video-div, .awards-div, .classes-div, .reviews-div {
  width: 90px;
  border-radius: 50%;
  border: 7px solid rgba(116,58,34,255);
  background-color: rgba(135,64,32,255);
}

.photo-div {
  position: relative;
  margin-top: 3em;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.video-div {
  position: relative;
  top: 140%;
  left: 25%;
  transform: translate(-100%, -618%);
}

.awards-div {
  position: relative;
  top: 140%;
  left: 82%;
    transform: translate(-100%, -713%);
}

.classes-div {
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(15%, -250%);
}

.reviews-div {
  position: relative;
  top: 25%;
  left: 75%;
  transform: translate(-130%, -353%);
}
