.star-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0 3em 0;
}

.content-container {
  position: relative;
  width: 40%;
  height: 65%;
}

.logo-container {
  width: 100%;
  height: 100%;
}

.logo {
  width: 90%;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.video-icon,
.photo-icon,
.awards-logo,
.schedule-logo,
.comments-logo {
  width: 55px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  color: rgba(231, 182, 77, 255);
}

.photo-div,
.video-div,
.awards-div,
.classes-div,
.reviews-div {
  position: absolute;
  width: 90px;
  border-radius: 50%;
  border: 7px solid rgba(116, 58, 34, 255);
  background-color: rgba(135, 64, 32, 255);
}

.photo-div {
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.classes-div  {
  bottom: -15%;
  left: 10%;
}

.reviews-div{
  bottom: -15%;
  right: 10%;
}

.video-div {
  top: 25%;
  left: -15%;
}

.awards-div  {
  top: 25%;
  right: -15%;
}