
.swim-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -5px 15em;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: #82C4FF;
  
}

.swim-lesson {
  width: 45%;
  height: auto;
  margin: 5em;
  border-radius: 5px;
}

p {
  padding: 2em;
  font-weight: 470;
}

.uszoda-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uszoda {
  width: 45%;
  height: auto;
  margin: 1em 5em;
  border-radius: 10px;
  
}

.group, .group1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 11em;
}

.group1 {
  margin-top: 3em;
}

svg.bubbles{
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 180px; 
  height: 180px; 
}

svg.bubbles1, svg.bubbles3{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  width: 160px; 
  height: 160px; 
  margin-right: 2em;
}

svg.bubbles2 {
  position: absolute;
  top: 2;
  left: 0;
  padding: 20px;
  width: 180px; 
  height: 180px; 
  margin-left: 2em;
}

.swim-group-pic{
  width: 45%;
  height: auto;
  margin: 5em;
  border-radius: 10px;
}

.girls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 15em;
}


.dive-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0 5em 0 0;
}

.dive {
  width: 38%;
  height: auto;
  margin-top: 2em;
  border-radius: 10px;
  
}


.pic1 {
  height: auto;
  width: 23%;
  margin: 0 3em;
  clip-path: polygon(0 19%, 16% 20%, 19% 8%, 84% 6%, 83% 18%, 100% 28%, 94% 59%, 95% 86%, 64% 86%, 31% 96%, 17% 83%, 0% 85%);
}

.pic2 {
  height: auto;
  width: 26%;
  margin: 0 3em;
  border-radius: 5px;
  clip-path: polygon(1% 40%, 20% 23%, 15% 0%, 85% 0%, 83% 13%, 100% 15%, 100% 71%, 81% 80%, 85% 100%, 15% 100%, 29% 80%, 0% 85%);
}

.seniors, .senior-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.negyen, .senior-group  {
  width: 40%;
  height: 30%;
  margin: 0 5em 3em 5em;
  border-radius: 20px;
}

.swim-lesson, .uszoda, .swim-group-pic, .pic1, .pic2, .dive, .negyen, .senior-group {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

