
.header-section {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 6em auto; 
  margin-bottom: 10em;
  position: relative;
}


.review-svg {
  width: 200px;
  margin: 2em;
  margin-right: 20px;
  margin-left: 100px;
  position: absolute;
  left: 0;
  
}

.reviews-h {
  font-size: 2em;
  margin: 0 auto;
  font-weight: 500;
}

.div-grid{
  margin: 2em auto;
  width: 90%;
  max-width: 1250px;
}

.review-box {
  margin: 0.5em 0;
  border-radius: 5px;
}


.dropdown {
  color: #3b4e66;
  font-weight: 550;
  outline: none;
  margin-left: 5px;
}

.slide-button {
  margin-right: 5px;
  padding: 10px 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #3b4e66; 
  color: whitesmoke;
  border: none;
  border-radius: 3px; 
  cursor: pointer;
  outline: none;
}

.slide-button:hover {
  color: #dabc76;
  transform: scale(1.07); 
}

.slide-button:active {
  transform: scale(0.98);
}



.pagination-button {
  padding: 0 !important;
  margin: 0 13px !important; 
}

.pagination-nrs {
  display: inline-block;
  padding: 4px; 
}

p.chakra-text.reviews-text{
  margin: 2em;
  padding: 10px;
}

p.chakra-text.pagination-nrs{
  padding: 2px;
}

select.chakra-select.dropdown{
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .review-svg {
    margin: 2em;
  }
  h5.chakra-heading{
    font-size: 18px;
    font-weight: 600;
  }
  p.chakra-text.time-p{
    font-size: 15px;
  }
  p.chakra-text.reviews-text{
    font-size: 16px;
  }
}

@media only screen and (max-width: 850px) {
  .review-svg {
    width: 200px;
    margin: 2em;
  }
}

@media only screen and (max-width: 700px) {
  .review-svg {
    width: 150px;
    margin: 2em;
  }
  p.chakra-text.reviews-text{
    margin: 1.5em;
    padding: 0;
  }
  .reviews-h{
    font-size: 27px;
  }
  .header-section{
    margin-bottom: 8.5em;
  }
}

@media only screen and (max-width: 550px) {
  .review-svg {
    width: 110px;
    margin: 0.5em 1em 8em 0.5em;
  }
  p.chakra-text.reviews-text{
    margin: 0.8em;
    font-size: 15px;
    letter-spacing: 0.01em;
  }
  .reviews-h{
    font-size: 22px;
    padding-top: 2em;
    
  }
  .header-section{
    margin-bottom: 4.5em;
  }
  h5.chakra-heading{
    font-size: 16px;
    padding: 15px 10px 5px;
  }
  p.chakra-text.time-p{
    font-size: 14px;
    padding: 5px 7px 10px;
  }
  div.star-icon{
    padding: 5px;
  }
  .slide-button{
    font-size: 14.5px;
    margin-bottom: 2px;
  }
  .pagination-button{
    font-size: 15.5px;
  }
}