.yTvid-div {
  margin-top: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.video-card {
  margin: 3em auto;
  height: 500px;
  width: 65%;
  border-radius: 3px;
}



p.video-p {
  margin-top: 5em;
}


@media only screen and (max-width: 1024px) {
  .video-card{
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {

  .video-card{
    width: 93%;
    flex-direction: column;
    margin-top: 2em;
  }

  iframe.yt-iframe {
    margin: 5em;
    width: fit-content;
  }
  
  h6.chakra-heading {
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 0 0;
  }
  p.video-p {
    margin-top: 2em;
    font-size: 16px;
  }
}
