* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #82C4FF;
}


main {
  font-size: 16px;
  font-family: "Work Sans",sans-serif, Arial, Helvetica;
  letter-spacing: 0.4px;
  font-weight: 400;

}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // flex: 1;
  min-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.default-bg {
  background-color: #82C4FF; 

}

.blue-bg {
  background-color: #60A6F0; 
}


// .slide-button:focus,
// .slide-button:active,
// .slide-button:focus-visible {
//   outline: none !important;  
//   box-shadow: none !important;  
// }

// button:focus {
//   outline: none !important; 
//   box-shadow: none !important;
// }

// button:focus-visible {
//   outline: none !important;
//   box-shadow: none !important;
// }


// @media only screen and (max-width: 450px) {
//   main {
//     font-size: 14px;
//   }
// }