* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #82C4FF;
}


main {
  font-size: 17px;
  font-family: "Lora", serif, sans-serif, Arial, Helvetica;
  font-style: normal;
  font-optical-sizing: auto;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;

}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  min-width: 100%;
  // width: 100%;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.default-bg {
  background-color: #82C4FF; 

}

.blue-bg {
  background-color: #60A6F0; 
}

a, button, .icon, .youtubeIcon, .insta {
  cursor: pointer;
}

a:hover, button:hover, .icon:hover, .youtubeIcon:hover, .insta:hover {
  cursor: pointer;
}

.router-link, .router-link:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1209px) {
  div.switch-div.css-16fmoxz {
    padding: 15px;
  }
}

@media only screen and (max-width: 897px) {
  div.switch-div.css-1p0ve28 {
    padding: 10px;
  }
  
}


@media only screen and (max-width: 550px) {
  main {
    font-size: 15px;
  }
}
